* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    outline: none;
  }

body {
  font-family:$font-family--inter;
  margin: 0 auto;
  background-color: #FBFBFB;
}
  
h1,h2,h3,h4,h5 {
  margin: 0;
}
  
ul,
li {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
fieldset {
  border: none;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

input,
textarea,
fieldset {
  border: none;
}

textarea {
  resize : none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overflow--active {
  overflow: hidden;
}
@media (min-width: $screen-xl) {
  .overflow--active {
    margin-right: 16px;
  }
}

.nowrap {
  white-space: nowrap;
}



.um-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: $screen-md) {
  .um-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: $screen-xl) {
  .um-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
  


.hover {
  &--btn-header {
    transition-duration: .5s;
    &:focus,
    &:hover {
      color: #FFFFFF; 
      background-color: #1B4AC5;
    }
    &:active {
      opacity: .6;
    }
  }
  &--link {
    transition-duration: .5s;
    &:focus,
    &:hover {
        color: #1B4AC5; 
    }
    &:active {
      opacity: .6;
    }
  }
  &--btn-conditions {
    transition-duration: .5s;
    &:focus,
    &:hover {
        background: #0069FF; 
    }
    &:active {
      opacity: .6;
    }
  }
  &--btn-case {
    transition: color .5s, background-color .5s;
    &:focus,
    &:hover {
      color: #fff; 
      background-color: #1B4AC5;
      border-color: #1B4AC5;
    }
    &:active {
      opacity: .6;
    }
  }
  &--social {
    transition-duration: .5s;
    &:focus,
    &:hover {
        opacity: .6; 
    }
    &:active {
      opacity: .3;
    }
  }
}

