$font-family--inter: 'Inter', sans-serif;   
$font-family--opensans: 'Open Sans', sans-serif;   

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

// 768px;
@media (min-width: $screen-md) {

}
// 992px;
@media (min-width: $screen-lg) {

}
// 1200px
@media (min-width: $screen-xl) {

}
// 1400px;
@media (min-width: $screen-xxl) {

}