.um-conditions {
    background-image: url('/images/bg-conditions.jpg');
    background-size: cover;
    padding: 42px 0 70px;    
    &__title {
        margin-bottom: 60px;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        /* or 36px */

        text-align: center;

        color: #FFFFFF;
    }
    &__text {
        margin-bottom: 37px;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        /* or 20px */

        text-align: center;

        color: #FFFFFF;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 220px;
        height: 54px;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        /* identical to box height, or 14px */
        color: #FFFFFF;
        background: #1B4AC5;
        border-radius: 55px;
    }
}