.main-menu {
    background: #FBFBFB;
    width: 100%;
    height: 0;
    overflow: hidden;
    
    position: absolute;
    top: 75px;
    left: 0;
    background-color: #fff;
    
    &__list {
        margin-bottom: 56px;
    }
    &__item {
        margin-bottom: 21px;
    }
    &__link {
        font-weight: 700;
        font-size: 36px;
        line-height: 94.5%;

        color: rgba(11, 19, 49, 0.23);
        &--active {
            font-weight: 700;
            color: #0B1331;
            position: relative;
            &::after {
                content: "";
        
                position: absolute;
                top: -6px;
                left: -12px;
                display: block;
                width: 116%;
                height: 53px;
        
                background-image: url('images/output-green.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    &--active {
        padding: 50px 0 50px 0;
        height: calc(100vh - 75px);
        background: #FBFBFB;
    }
}
// 768px;
@media (min-width: $screen-md) {
    .main-menu {
        &__list {
        }
        &__item {
        }
        &__link {
            font-size: 48px;
            &--active {
                &::after {
                    top: -10px;
                    left: -22px;
                    display: block;
                    width: 123%;
                    height: 75px;
                }
            }
        }
        &__btn {
            display: none;
        }
    }
}
// 992px;
@media (min-width: $screen-lg) {
    .main-menu {
        &__list {
        }
        &__item {
        }
        &__link {
            font-size: 60px;
            &--active {
                &::after {
                    top: -14px;
                    left: -22px;
                    display: block;
                    width: 123%;
                    height: 94px;
                }
            }
        }
        &__h-feedback {
        }
    }
}
// 1200px
@media (min-width: $screen-xl) {
    .main-menu {
        &__list {
        }
        &__item {
        }
        &__link {
            font-size: 72px;
            &--active {
                &::after {
                    top: -17px;
                    left: -29px;
                    display: block;
                    width: 122%;
                    height: 112px;
                }
            }
        }
        &__h-feedback {
        }
    }
}
// 1400px;
@media (min-width: $screen-xxl) {
    .main-menu {
        &__list {
        }
        &__item {
        }
        &__link {
            font-size: 100px;
            &--active {
                &::after {
                    top: -22px;
                    left: -48px;
                    display: block;
                    width: 122%;
                    height: 156px;
                }
            }
        }
        &__h-feedback {
        }
    }
}